@model Model.EF.QcdsIT
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2><strong>Bảng khảo sát QCDS IT</strong></h2>
                <p>Điền thông tin theo mẫu bên dưới và bấm tiếp tục để hoàn thành</p>
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform" action="@Url.Action("Index","Home")" method="post">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="account"><strong>Thông tin</strong></li>
                                <li id="personal"><strong>Đánh giá</strong></li>
                                <li id="payment"><strong>Ý kiến</strong></li>
                                <li id="confirm"><strong>Hoàn thành</strong></li>
                            </ul> <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Thông tin người đánh giá</h2>
                                    <br>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="pay"> Khối*</label>
                                        </div>
                                        <div class="col-9">
                                            <select class="list-dt" id="month" name="expmonth">
                                                <option selected>Chọn khối làm việc</option>
                                                <option>IMG</option>
                                                <option>MED</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-3">
                                            @Html.LabelFor(model => model.BoPhan, "Bộ Phận : ", new { @class = "pay" })
                                        </div>
                                        <div class="col-9">
                                            @Html.TextBoxFor(m => m.BoPhan, new { @class = "form-control", @placeholder = "Bộ phận  " })
                                            @Html.ValidationMessageFor(m => m.Khoi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-3">
                                            @Html.LabelFor(model => model.BanLa, "Bạn Là : ", new { @class = "pay" })
                                        </div>
                                        <div class="col-9">
                                            <div class="radio-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.BanLa, "JP", true) JP
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.BanLa, "GL", true) GL
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.BanLa, "TL", true) TL
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.BanLa, "Nhân viên", true) Nhân viên
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.BanLa, "Công nhân", true) Công nhân
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.BanLa)
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            @Html.LabelFor(model => model.BaoLau, "Bạn làm OVNC được bao lâu :* ", new { @class = "pay" })
                                        </div>
                                        <div class="col-9">
                                            <div class="radio-group">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.BaoLau, "Dưới 1 năm", true) Dưới 1 năm
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.BaoLau, "1-2 năm", false) 1-2 năm
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.BaoLau, "2-3 năm", false) 2-3 năm
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.BaoLau, "3-4 năm", false) 3-4 năm
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.BaoLau, "Trên 5 năm", false) Trên 5 năm
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.BaoLau)
                                    </div>
                                </div>
                                <input type="button" name="next" class="next action-button" value="Tiếp tục" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Đánh giá dịch vụ cung cấp</h2>
                                    <h6 class="text-success">Yêu cầu hợp lệ trên DB IT là yêu cầu phải được sự chấp thuận của các sếp (nếu có), yêu cầu đó sẽ được IT tính sau khi người quản lý của bộ phận IT phê duyệt.</h6>
                                    <br />
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="pay text-danger">
                                                1. Khi làm yêu cầu trên DBIT bạn cần liên lạc bao nhiêu lần thì yêu cầu
                                                của bạn được xử lý?
                                            </label>
                                        </div>
                                        <div class="col-9">
                                            <div class="radio-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.LienLac, "> 3 lần", false) > 3 lần
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.LienLac, "3 lần", false) 3 lần
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.LienLac, "2 lần", false) 2 lần
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.LienLac, "1 lần", false) 1 lần
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.LienLac, "0 lần", false) 0 lần
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.LienLac)
                                    </div>
                                    <label class="pay text-center text-danger">
                                        2. Thời gian mà IT giải quyết yêu cầu của bạn?
                                    </label>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="pay">
                                                a. Active license, lỗi excel, cài đặt máy in, scan, khôi phục dữ liệu, quên mật khẩu hệ thống, đổi chuột ,bàn phím, mở USB, cài internet, tạo account hệ thống.
                                            </label>
                                        </div>
                                        <div class="col-9">
                                            <div class="radio-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianA, "> 4 Ngày", false) > 4 Ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianA, " 4 Ngày", false) 4 Ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianA, " 3 Ngày", false) 3 Ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianA, " 2 Ngày", false) 2 Ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianA, " 1 Ngày", false) 1 Ngày
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ThoiGianA)
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="pay">
                                                b. Mượn laptop, set quyềnt truy cập server, , chuyển license, đổi PC, cài đặt các ứng dụng.
                                            </label>
                                        </div>
                                        <div class="col-9">
                                            <div class="radio-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianB, "> 4 Ngày", false) > 4 Ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianB, " 4 Ngày", false) 4 Ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianB, " 3 Ngày", false) 3 Ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianB, " 2 Ngày", false) 2 Ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianB, " 1 Ngày", false) 1 Ngày
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ThoiGianB)
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="pay">
                                                c. Các yêu cầu khác như tạo tài khoản SAP, GUID, tạo mail mới,thêm,xóa nhóm mail,...
                                            </label>
                                        </div>
                                        <div class="col-9">
                                            <div class="radio-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianC, "> 4 Ngày", false) > 4 Ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianC, " 4 Ngày", false) 4 Ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianC, " 3 Ngày", false) 3 Ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianC, " 2 Ngày", false) 2 Ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianC, " 1 Ngày", false) 1 Ngày
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ThoiGianC)
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="pay">
                                                d. Yêu cầu về báo giá.
                                            </label>
                                        </div>
                                        <div class="col-9">
                                            <div class="radio-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianD, "> 18 ngày", false)> 18 ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianD, " 18 ngày", false) 18 ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianD, " 15 ngày", false) 15 ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianD, " 7 ngày", false) 7 ngày
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.ThoiGianD, " 3 ngày", false) 3 ngày
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ThoiGianD)                                   
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="pay text-danger">
                                                3. Khi sự cố nghiêm trọng xảy ra bạn có hài lòng với cách đối ứng của IT? ( Sự cố nghiêm trọng như toàn bộ nhà máy toàn bộ khu vực không truy cập được lên server, mất mạng cục bộ,…)
                                            </label>
                                        </div>
                                        <div class="col-9">
                                            <div class="radio-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.SuCo, " 1", false) 1
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.SuCo, " 2", false) 2
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.SuCo, " 3", false) 3
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.SuCo, " 4", false) 4
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.SuCo, " 5", false) 5
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.SuCo)
                                    </div>
                                    <label class="pay text-center text-danger">
                                        4. Đánh giá người phục vụ.
                                    </label>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="pay">
                                                a. Cách giải thích.
                                            </label>
                                        </div>
                                        <div class="col-9">
                                            <div class="radio-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaA, " 1", false) 1
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaA, " 2", false) 2
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaA, " 3", false) 3
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaA, " 4", false) 4
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaA, " 5", false) 5
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.DanhGiaA)
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="pay">
                                                a. Cách nói chuyện.
                                            </label>
                                        </div>
                                        <div class="col-9">
                                            <div class="radio-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaB, " 1", false) 1
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaB, " 2", false) 2
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaB, " 3", false) 3
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaB, " 4", false) 4
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaB, " 5", false) 5
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.DanhGiaB)
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="pay">
                                                c. Chào hỏi.
                                            </label>
                                        </div>
                                        <div class="col-9">
                                            <div class="radio-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaC, " 1", false) 1
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaC, " 2", false) 2
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaC, " 3", false) 3
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaC, " 4", false) 4
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-check text-center">
                                                            @Html.RadioButtonFor(model => model.DanhGiaC, " 5", false) 5
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.DanhGiaC)
                                    </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Quay lại" />
                                <input type="button" name="next" class="next action-button" value="Tiêp tục" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Các ý kiến đóng góp khác</h2>
                                    <div class="form-group">
                                        <label for="comment">Ý kiến:</label>
                                        @Html.TextAreaFor(m => m.YKien, new { @class = "form-control", @placeholder = " Ý KIẾN (Ghi chú/ Note: Các mục chọn <=2 điểm, vui lòng cho biết lý do) " })
                                        @Html.ValidationMessageFor(m => m.YKien, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Quay lại" />
                                <input type="button" name="make_payment" class="next action-button" value="Hoàn thành" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title text-center">Hoàn thành !</h2>
                                    <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-3">
                                            <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image">
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5>
                                                Bạn đã hoàn thành khảo sát QCDS của nhóm IT!
                                                <br>
                                                Cảm ơn bạn đã tham gia khảo sát!
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>